/*
|----------------------------------------------------------------------
|       Logo
|----------------------------------------------------------------------
*/

.logo {
	position: relative;
	@include flex(center, center);
	width: 100%;
	max-width: 8rem;
	height: 6rem;
	> a {
		display: block;
		width: 100%;
		max-width: 100%;
		height: 100%;
		> img {
			height: 100%;
			@include object(contain, left center);
			-webkit-transition: var(--transition);
			transition: var(--transition);
		}
	}
	header & {
		@include pos;
		left: 1.5rem;
		margin: 1.8rem 0 0;
		-webkit-transition: var(--transition);
		transition: var(--transition);
	}
	footer & {
		max-width: 8rem;
		height: auto;
	}
}

/*
|----------------------------------------------------------------------
|       Header
|----------------------------------------------------------------------
*/

#header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 8.8rem;
	background: var(--black);
	-webkit-box-shadow: 0 0.5rem 1rem 0 rgba(var(--black_rgb), 0.35);
	box-shadow: 0 0.5rem 1rem 0 rgba(var(--black_rgb), 0.35);
	-webkit-transition: var(--transition);
	transition: var(--transition);
	z-index: 30;
	.contain {
		height: inherit;
	}
	@at-root {
		.header_strip {
			@include flex(center, flex-end);
			height: 4rem;
			padding: 1rem 0;
			@include mobile {
				display: none;
			}
			ul {
				@include list;
				@include flex;
				@include gap(0.5rem 1.5rem);
				&.social_links {
					> li {
						> a {
							@include flex(center, center);
							width: 1.6rem;
							min-width: 1.6rem;
							height: 1.6rem;
							@include filter(0.6);
							&:hover {
								@include filter(none);
							}
							> img {
								@include object(contain);
							}
						}
					}
				}
				&.sm_list {
					margin-right: 3rem;
					> li {
						> a {
							display: block;
							font-size: 1.1rem;
							color: var(--dark_gray);
							&:hover {
								color: var(--prime_color);
							}
						}
					}
				}
			}
		}
	}
}

#nav {
	@include flex(center, flex-end);
	height: 4rem;
	/* @include mobile {
		@include pos($pos: fixed);
		@include flex(center, flex-start, column);
		@include gap(2rem);
		height: auto;
		background: rgba(var(--black_rgb), 0.9);
		padding: 5rem;
		margin-top: 0;
		-webkit-backdrop-filter: blur(1rem);
		backdrop-filter: blur(1rem);
		// border-top: 0.1rem solid var(--light_gray);
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		overflow: hidden;
		overflow-y: auto;
		-webkit-transition: var(--transition);
		transition: var(--transition);
	} */
	header.logged & {
		margin: 2.4rem 0;
	}
	&.active {
		@include mobile {
			#nav_list {
				opacity: 1;
				visibility: visible;
				pointer-events: all;
			}
		}
	}
	> ul {
		@include list;
		@include flex;
		margin: 0 -2.4rem;
		> li {
			padding: 0 2.4rem;
			> a {
				position: relative;
				@include flex(center, center);
				color: var(--light);
				font-weight: 600;
				text-align: center;
				text-transform: uppercase;
				white-space: nowrap;
				&.active {
					color: var(--prime_color);
				}
				&:hover,
				&:focus {
					color: var(--prime_color);
				}
			}
		}
	}
	#nav_list {
		@include mobile {
			@include pos($pos: fixed, $z: 3);
			@include flex(center, flex-start, column);
			@include gap(3rem);
			height: auto;
			background: rgba(var(--black_rgb), 0.9);
			padding: 5rem;
			margin-top: 0;
			-webkit-backdrop-filter: blur(1rem);
			backdrop-filter: blur(1rem);
			// border-top: 0.1rem solid var(--light_gray);
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
			overflow: hidden;
			overflow-y: auto;
			-webkit-transition: var(--transition);
			transition: var(--transition);
		}
		@include mobile {
			@include flex($flow: column);
			margin: 0;
			> li {
				@include mobile {
					padding: 0;
				}
			}
		}
	}
	#icon_btn {
		margin: 0 -1rem;
		margin-left: 4rem;
		li {
			padding: 0 1rem;
			> a,
			> button {
				position: relative;
				@include flex;
				width: 2.2rem;
				min-width: 2.2rem;
				height: 2.2rem;
				&.active {
					&::before {
						content: "";
					}
					> img {
						@include filter(none);
					}
				}
				&::before {
					position: absolute;
					top: -0.1rem;
					right: 0.2rem;
					width: 1rem;
					height: 1rem;
					background: var(--prime_color);
					border: 0.2rem solid var(--black);
					border-radius: 75%;
					z-index: 1;
				}
				> img {
					@include filter(0.7);
					-webkit-transition: inherit;
					transition: inherit;
				}
			}
		}
	}
	#pro_btn {
		@include flex(center);
		cursor: pointer;
		margin-left: 3rem;
		z-index: 1;
		@include mobile {
			margin-left: 2rem;
			margin-right: 4rem;
		}
		.ico {
			width: 3.6rem;
			min-width: 3.6rem;
			height: 3.6rem;
		}
		.dropdown_menu {
			left: initial;
			right: 0;
			min-width: 18rem;
			max-height: calc(100vh - 8.8rem);
			overflow: auto;
		}
	}
}

/*
|----------------------------------------------------------------------
|       Banner
|----------------------------------------------------------------------
*/

#banner {
	@include bg(cover);
	&::before {
		content: "";
		@include pos;
		background: var(--black);
		opacity: 0.6;
		mix-blend-mode: multiply;
		z-index: 1;
	}
	.contain {
		position: relative;
		z-index: 3;
	}
	.outer {
		@include flex(center);
		min-height: 50rem;
		padding: 8rem 0;
		.content {
			max-width: 76rem;
			text-align: center;
			margin: auto;
			h1 {
				color: var(--light);
				font-size: 6rem;
				font-weight: 700;
				text-transform: uppercase;
				margin: 0 0 2rem;
				@include mobile {
					font-size: 4.6rem;
				}
			}
			p {
				color: var(--light);
				font-size: 2.2rem;
				font-weight: 200;
				margin-bottom: 2rem;
				@include mobile {
					font-size: 1.8rem;
				}
			}
		}
	}
	.main_search_form {
		background: var(--light);
		> .input {
			color: var(--black);
			&:nth-child(1) {
				border-right-color: rgba(var(--black_rgb), 0.2);
				@include mobile_md {
					border-bottom-color: rgba(var(--black_rgb), 0.2);
				}
			}
			@include placeholder(rgba(var(--black_rgb), 0.5));
		}
	}
	@at-root {
		.main_search_form {
			@include flex(center);
			background: rgba(var(--light_rgb), 0.2);
			border-radius: 0.8rem;
			-webkit-box-shadow: 0 0.5rem 1rem 0 rgba(var(--dark_rgb), 0.35);
			box-shadow: 0 0.5rem 1rem 0 rgba(var(--dark_rgb), 0.35);
			overflow: hidden;
			@include mobile_md {
				@include flex(center, center, column);
			}
			> .input {
				-webkit-box-flex: 1;
				-ms-flex: 1;
				flex: 1;
				background-color: transparent;
				@include mobile_md {
					-webkit-box-flex: 0;
					-ms-flex: none;
					flex: none;
				}
				&:nth-child(1) {
					border-right: 0.1rem solid rgba(var(--light_rgb), 0.2);
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
					@include mobile_md {
						border: 0;
						border-bottom: 0.1rem solid rgba(var(--light_rgb), 0.2);
						border-radius: 0;
					}
				}
			}
			> .site_btn {
				@include mobile_md {
					width: 100%;
					border-radius: 0;
				}
			}
		}
	}
}

/*
|----------------------------------------------------------------------
|       Footer
|----------------------------------------------------------------------
*/

#footer {
	background: var(--dark);
	padding: 6rem 0;
	margin-top: auto;
	overflow: hidden;
	.main_row {
		> .column1 {
			width: 25%;
			@include ipad {
				width: 100%;
			}
		}
		> .column2,
		> .column3 {
			width: 20%;
			@include ipad {
				width: 50%;
			}
		}
		> .column4 {
			width: 30%;
			@include ipad {
				width: 50%;
			}
			@include mobile {
				width: 100%;
			}
		}
	}
	a {
		color: var(--light_gray);
		&:hover {
			color: var(--prime_color);
		}
	}
	.title {
		font-size: 1.6rem;
		font-weight: 600;
		margin-bottom: 1.6rem;
		text-transform: uppercase;
	}
	.list {
		@include list;
		> li {
			&:not(:nth-last-child(1)) {
				margin-bottom: 1rem;
			}
		}
	}
	form {
		p {
			font-size: 1.2rem;
			line-height: 140%;
			> a {
				text-decoration: underline;
			}
		}
		.form_blk {
			> p {
				position: relative;
				@include flex(center);
				button {
					@include pos($l: null, $r: 1rem);
					background: var(--light_gray);
					margin: auto;
				}
			}
		}
	}
	.copyright {
		@include flex(center, space-between);
		font-size: 1.2rem;
		margin-top: 6rem;
		padding-top: 3rem;
		border-top: 0.1rem solid rgba(var(--light_rgb), 0.2);
		@include ipad {
			display: block;
		}
		p {
			margin: 0;
			@include ipad {
				margin: 0 0 2rem;
			}
		}
		.terms_list {
			@include list;
			@include flex($flow: wrap);
			margin: -1rem -2rem;
			@include ipad {
				margin: -1rem;
			}
			> li {
				padding: 1rem 2rem;
				@include ipad {
					padding: 1rem;
				}
			}
		}
	}
}

/*
|----------------------------------------------------------------------
|       X Banner
|----------------------------------------------------------------------
*/

#x_banner {
	padding: 6rem 0;
	@include bg(cover);
	&::before {
		content: "";
		@include pos;
		background: var(--black);
		opacity: 0.6;
		mix-blend-mode: multiply;
		z-index: 1;
	}
	.contain {
		position: relative;
		z-index: 3;
	}
	.content {
		max-width: 60rem;
		margin: auto;
		h1 {
			margin: 0;
			& + * {
				margin-top: 2rem;
			}
		}
	}
}

.rating {
	@include flex(center, flex-end);
	@include gap(0.5rem);
	color: var(--yellow);
	direction: rtl;
	> i {
		width: 1.6rem;
		min-width: 1.6rem;
		height: 1.6rem;
		@include star;
	}
}

/*
|----------------------------------------------------------------------
|       Logon
|----------------------------------------------------------------------
*/

#logon {
	@include flex;
	background-size: 0;
	padding: 0;
	// padding-left: 50%;
	margin-top: -8.8rem;
	@include ipad_sm {
		@include flex($flow: column);
	}
	> * {
		padding: 6rem 2rem;
		@include ipad_sm {
			width: 100%;
			padding: 3rem 2rem;
		}
	}
	.login_sidebar {
		@include pos($pos: fixed);
		@include flex(center);
		width: 80rem;
		min-width: 80rem;
		min-height: 100vh;
		@include bg(cover);
		@include ipad_sm {
			position: relative;
			min-height: initial;
		}
		&::before {
			// content: "";
			@include pos($z: 1);
			background: rgba(var(--prime_color_rgb), 0.8);
			-webkit-backdrop-filter: blur(0.5rem);
			backdrop-filter: blur(0.5rem);
		}
		&_txt {
			position: relative;
			max-width: 47rem;
			color: var(--light);
			margin: auto;
			z-index: 2;
			h1 {
				font-weight: 700;
				margin-bottom: 2rem;
				> span {
					display: block;
					font-weight: 400;
				}
			}
			p {
				font-size: 2rem;
			}
		}
	}
	.logon_form {
		@include flex(center, center);
		-ms-flex-item-align: center;
		align-self: center;
		width: calc(100% - 80rem);
		min-height: 100vh;
		margin-left: auto;
		padding: 10rem;
		> form {
			width: 100%;
		}
		.logo {
			max-width: 40rem;
			height: auto;
			margin-bottom: 3.5rem;
		}
		.log_blk {
			max-width: 75rem;
			// margin: auto;
			.txt {
				margin-bottom: 5rem;
				h4 {
					font-size: 2.4rem;
				}
				p {
					color: #959595;
					font-weight: 500;
				}
			}
			.forgot_pass {
				margin-top: 2.5rem;
				> a {
					color: var(--prime_color);
					font-size: 1.6rem;
					font-weight: 700;
					&:hover {
						color: var(--black);
					}
				}
			}
			.lbl_btn {
				margin-top: 5rem;
			}
			.already_account {
				color: #959595;
				font-weight: 500;
				// margin-top: 5rem;
				margin-top: 5rem;
				> a {
					color: var(--prime_color);
					font-weight: 700;
					&:hover {
						color: var(--black);
					}
				}
			}
			.affiliate_login {
				margin-top: 5rem;
				> a {
					color: var(--prime_color);
					font-weight: 700;
					&:hover {
						color: var(--black);
					}
				}
			}
		}
		.btn_blk {
			margin-top: 5rem;
			.site_btn {
				min-width: 29rem;
				height: 7rem;
				font-size: 2.2rem;
				font-weight: 700;
			}
		}
	}
	.forgot,
	.account {
		a {
			color: var(--prime_color);
			font-weight: 500;
			&:hover {
				color: var(--light);
			}
		}
	}
	.signup_as_btn_blk {
		@include flex($flow: nowrap);
		.input {
			text-align: center;
			&.active {
				background: var(--prime_color);
				color: var(--light);
			}
		}
	}
}

.pagination {
	@include flex(center, center);
	margin-top: 4rem;
	> ul {
		@include list;
		@include flex;
		border-radius: 0.8rem;
		-webkit-box-shadow: 0 0.5rem 1rem 0 rgba(var(--dark_rgb), 0.35);
		box-shadow: 0 0.5rem 1rem 0 rgba(var(--dark_rgb), 0.35);
		overflow: hidden;
		> li {
			&.active {
				> a,
				> span,
				> button {
					background: rgba(var(--light_rgb), 0.4);
					color: var(--light);
				}
			}
			> a,
			> span,
			> button {
				@include flex(center, center);
				min-width: 4.4rem;
				height: 4.4rem;
				background: rgba(var(--light_rgb), 0.2);
				color: rgba(var(--light_rgb), 0.5);
				font-weight: 600;
				padding: 0 0.5rem;
				&:hover {
					background: rgba(var(--light_rgb), 0.3);
					color: var(--light);
				}
				&.prev,
				&.next {
					&::before {
						content: "";
						@include mask_image;
						width: 1rem;
						min-width: 1rem;
						height: 1rem;
						-webkit-transition: none;
						transition: none;
					}
				}
				&.prev {
					&::before {
						@include chev_left;
					}
				}
				&.next {
					&::before {
						@include chev_right;
					}
				}
			}
			> span {
				color: var(--prime_color);
			}
		}
	}
}
